// universal reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    //this defines what 1rem is
    font-size: 62.5%;
}

body{
    padding: 25px;
    box-sizing: border-box;
}
