@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";


@import "./base/base";
@import "./base/animation";
@import "./base/utilities";
@import "./base/typography";

@import "./componets/button";

@import "./layout/header";

@import "./pages/home";






//style

.logobox{
    position: absolute;
    top:40px;
    left: 40px;
    &__logo{
        height: 35px;
    }
}

.text-box{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

